
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../images/pup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
header>div{
    display: flex;
    justify-content: center;
    transform: translateY(200px);
    align-items: center;
    flex-direction: column;
}
header>div>h1{
   margin: 30px;
    
}
 .logo h1 {
    font-size: 3.2rem;
    color: #62b5f8;
    margin: 0%;
   
}
nav{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}
nav>menu{
    display: none;
}
nav>ul{
    list-style-type: none;
}
nav>ul>li{
    display: inline-block;
    margin-left: 2.5rem;
}
nav>ul>li:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
}
header>div>button{
    color:gray;
    padding: 10px;
    margin: 20px;
    background: black;
    border-radius: 20px;
}
header>div>button:hover{
    background: lightgreen; 
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 20px 20px;
}
.container>h1{  
    color: #72abed;
    margin: 0px 0px 10px;
}

.container>p{
    margin: 2% 15%;
}
.container>a{
    border: 2px solid #6ea7ea;
    padding: 0.5rem 1rem;
    background-color: #fff;
    font-weight: 500;
    font-size: 1rem;
    width: 12%;
    color: #7aafea;
    text-align: center;
    text-decoration: none;
    margin: 0 44%;
    border-radius: 50em;
}
.container>a:hover{
    color: #fff;
    background-color: #155db0;
}
.dog{
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-evenly;  
}
.dog>div{
  width: 450px;
  margin: 20px;
}
.dog>div>img{
    width: 100%;
    height: 300px;  
}
.dog h1{
    text-align: center;
}
form {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    box-shadow: -3px -3px 1px #000;
    border-radius: 20px;
    
   
}
form>h1{
    text-align: center;
}
input[type="text"],[type="email"]{
    width: 94%;
    padding: 10px;
    margin: 10px;
}
label{
    margin: 10px;
}
input[type="submit"]{
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 20px;
    width: 100px;
}
.footer{
    height: 100px;
    text-align: start;
    color: #fff ;
    background-color: rgb(46, 43, 43);
   
}
.footer>ul>li{
    margin: 10px;
    justify-content: center;
    text-align: center;
    display: inline-block;
}
.footer>h3{
    font-size: 20px;
    display: flex;
    justify-content:center;
    
}