
 *{
    padding: 0%;
    margin: 0%;
    font-family: poppins;
    box-sizing: border-box;

 }
 .banner{
    background: linear-gradient(to bottom,rgba(57,98,165,0.5),rgba(4, 222, 255,0.5)),url(../images/dog.jpg)no-repeat center;
    height: 650px;
    background-size: 100%;
    padding: 20px;

 }
 .banner>header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    padding: 10px;
    border-radius: 10px;

 }
 .banner>header>nav>img{
    height: 60px;

 }
 .banner>header>nav>ul{
    list-style-type: none;
    float: right;
 }
 .banner>header>nav>ul>li{
    display: inline-block;
    padding: 20px;
 }
 .banner>header>nav>ul>li>a{
    color:#fffde4;
    text-decoration: none;
 }
 .banner>header>nav>ul>li>a::after{
     content: "";/* this is the imp keyword of using after/before  */
     display: block;
     height: 3px;
     width: 0px;
     background: #c4c4f7;
     transition: all 0.5s;


 }
 .banner>header>nav>ul>li:hover a::after{
    color: aqua;
    width: 100%;
 }
 .banner>header>nav>ul.active{
    background: rgba(255,255,255,0.2);
 }

 /* mobile */
 .mobileBanner{
    display: none;

 }
 /* grid classes */
 .container{
    margin: auto 100px;

 }
 .row{
    display: block;
 }
 .col-1{width: 8.33%;}
 .col-2{width: 16.66%;}
 .col-3{width: 25%;}
 .col-4{width: 33.33%;}
 .col-5{width: 41.33%;}
 .col-6{width: 50%;}
 .col-7{width: 58.33%;}
 .col-8{width: 66.66%;}
 .col-9{width: 75%;}
 .col-10{width: 83.33%;}
 .col-11{width: 91.66%;}
 .col-12{width: 100%;}
 [class*='col']{
    float: left;
    padding: 20px;
 }